@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.6);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes pulseDot {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.4); opacity: 0.7; }
  100% { transform: scale(1); opacity: 1; }
}

@keyframes pulseHQ {
  0% { transform: scale(1); }
  50% { transform: scale(1.6); }
  100% { transform: scale(1); }
}
@keyframes pulseNew {
  0% {
    box-shadow: 0 0 10px rgba(127,29,29,0.6);
  }
  50% {
    box-shadow: 0 0 20px rgba(127,29,29,1);
  }
  100% {
    box-shadow: 0 0 10px rgba(127,29,29,0.6);
  }
}